
<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="addItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-list-header>
      <ion-label>Name</ion-label>
      <ion-label>Quantity</ion-label>
    </ion-list-header>
    <ion-item-sliding  *ngFor="let item of loadItems(); let i = index">
      <ion-item>
        <ion-label>{{item.name}}</ion-label> 
        <ion-label> {{item.quantity}}</ion-label>
      </ion-item>
      <ion-item-options>
        <button (click)="editItem(item, i)" ion-button color="primary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button (click)="removeItem(item, i)" ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
